/* font typography from google*/
@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

/* PALETTE COLORS AS VARIABLES */
:root {
    --granate : #8C4D5E;
    --darkblue: #6A8FA6;
    --blue: #B4D0DE;
    --lightblue: #CCE3EB;
    --gray: #5F686E;
    --white: #fff;
}
* {
   margin: 0;
   padding: 0;
   box-sizing: border-box;
   font-family: 'Rubik', sans-serif; 
}
body {
    background: var(--blue);
    display: flex;
    min-height: 100vh;
    justify-content: center;
    align-items: center;
}


/* ARCHITECTURE */
.cv {
    position: relative;
    width: 100%;
    max-width: 1000px;
    min-height: 1000px;
    background: var(--white);
    margin: 50px;
    display: grid;
    grid-template-columns: 1fr 2fr;
    box-shadow: 0 35px 55px rgb(0,0,0,0.9);
}
.left, .right {
    position: relative;
    padding: 40px;
}
.left { background: var(--granate); }
.right { background: var(--white); }


/* LEFT SIDE ----------------------------------------- */

/* PROFILE */
.profile-box {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px 10px;
    border: 1px solid var(--lightblue);
}
.profile-box h2 {
    color: var(--white);
    font-size: 1.5em;
    font-weight: 500;
    margin-top: 20px;
    text-align: center;
}
.profile-box h2 span {
    font-size: 0.8em;
    font-weight: 300;
}
.profile-img {
    position: relative;
    border-radius: 50%;
    overflow: hidden;
    width: 200px;
    height: 200px;   
}


/* CONTACT */
.contact-box, .education-box, .language-box {
    padding-top: 40px;
}
.title-left {
    color: var(--white);
    margin-bottom: 20px;
    font-weight: 500;
}
.contact-box ul li, .education-box ul li, .language-box ul li {
    position: relative;
    list-style: none;
    margin: 10px 0;
}
.contact-box ul li .icon {
    color: var(--blue);
    display: inline-block;
    width: 40px;
    padding: 3px 0;
}
.contact-box ul li span, .language-box ul li span {
    font-weight: 300;
    color: var(--white);
}


/* EDUCATION */
.education-box h5 {
    font-weight: 500;
    color: var(--blue);
}
.education-box .title-edu {
    font-weight: 500;
    color: var(--white);
}
.education-box h4 {
    font-weight: 300;
    color: var(--white);
}


/* LENGUAGES */
.percent {
    position: relative;
    margin-top: 6px;
    height: 6px;
    width: 100%;
    background: var(--granate);
    display: block;
    border: 1px solid var(--darkblue);
}
.percent div {
    position: absolute;
    height: 100%;
    background: var(--blue);
}



/* RIGHT SIDE ----------------------------------------- */

/* PROFESSIONAL PROFILE */
.propro-box {
    margin-bottom: 25px;
    border-bottom: 1px solid var(--blue);
}
p {
    color: var(--gray);
}
.propro-box p {margin-bottom: 20px;}

.title-right {
    color: var(--granate);
    margin-bottom: 10px;
}


/* EXPERIENCE */
.experience-box {
    margin-bottom: 70px;
    border-bottom: 1px solid var(--blue);
}
.exp {
    display: flex;
    flex-direction: row;
    margin: 20px 0px;
}
.exp:last-child {
    margin-bottom: 25px;
}
.year_comp {
    min-width: 155px;
}
.year {
    color: var(--darkblue);
    font-weight: 500;
    font-size: 13px;
}
.year_comp h5 {
    color: var(--darkblue);
    font-weight: 600;
}   
.exp h4 {
    color:var(--darkblue);
    font-size: 16px;
}


/* SKILLS */

.skills-box {
    margin-bottom: 40px;
    border-bottom: 1px solid var(--blue);
}
.skill:last-child {
    margin-bottom: 25px;
}
.skills-box h2 {margin-bottom: 22px;}
.skill {
    position: relative;
    width: 100%;
    display: grid;
    justify-content: center;
    align-items: center;
    grid-template-columns: 150px 1fr;
    margin-bottom: 5px;
}
.skill h4 {
    color: var(--darkblue);
    font-weight: 450;
}
.percent-skill {
    position: relative;
    width: 100%;
    height: 10px;
    background: var(--white);
}
.percent-skill div{
    position: absolute;
    height: 100%;
    background: var(--darkblue);
}


/* HOBBY */
.hobby-box h2{
    margin-bottom: 20px;
}
.hobby-box ul {
    display: grid;
    margin-left: 10px;
    grid-template-columns: repeat(4,1fr);
}
.hobby-box ul li {
    list-style: none;
    color: var(--gray);
    font-weight: 500;
    margin: 10px 0;
}
.hobby-box ul li .fa {
    color: var(--darkblue);
    font-size: 21px;
    margin-right: 7px;
    width: 20px;
}


/* MEDIA ADAPTATION */
@media (max-width: 950px) {
    .cv {
        margin: 10px;    
        grid-template-columns: repeat(1,1fr);
    }
    .hobby-box ul {
        grid-template-columns: repeat(2,1fr);

    }
}
